#map{
    width: 100%;
    height: 100vh;
}
.main{
    width: 100%;
    background:hwb(0 1% 96%);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
  .navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff8400;
}